
*[data-theme='59a858e0d1c3e58cccd47224'] .theme--background-color-after:after, *[data-theme='59a858e0d1c3e58cccd47224'].theme--background-color-after:after {
    background-color: #2E5BD0;
}
*[data-masonary-theme='59a858e0d1c3e58cccd47224'] .masonry__item-text-outer, *[data-masonary-theme='59a858e0d1c3e58cccd47224'].masonry__item-text-outer {
    background-color: #2E5BD0;
}
*[data-press-theme='59a858e0d1c3e58cccd47224'] .theme--background-color-after:after, *[data-press-theme='59a858e0d1c3e58cccd47224'].theme--background-color-after:after {
    background-color: #2E5BD0 !important;
}
*[data-publication-theme='59a858e0d1c3e58cccd47224'] .theme--background-color-after:after, *[data-publication-theme='59a858e0d1c3e58cccd47224'].theme--background-color-after:after {
    background-color: #2E5BD0 !important;
}
*[data-theme='59a858e0d1c3e58cccd47224'] .project-list-image__title:before, *[data-theme-theme='59a858e0d1c3e58cccd47224'].project-list-image__title:before {
    background-color: #2E5BD0 !important;
}
*[data-theme='59a858e0d1c3e58cccd47224'].page--project {
    background-color: #2E5BD0;
}
*[data-theme='5aec32e034a6070ae06bab9a'] .theme--background-color-after:after, *[data-theme='5aec32e034a6070ae06bab9a'].theme--background-color-after:after {
    background-color: #8BACDF;
}
*[data-masonary-theme='5aec32e034a6070ae06bab9a'] .masonry__item-text-outer, *[data-masonary-theme='5aec32e034a6070ae06bab9a'].masonry__item-text-outer {
    background-color: #8BACDF;
}
*[data-press-theme='5aec32e034a6070ae06bab9a'] .theme--background-color-after:after, *[data-press-theme='5aec32e034a6070ae06bab9a'].theme--background-color-after:after {
    background-color: #8BACDF !important;
}
*[data-publication-theme='5aec32e034a6070ae06bab9a'] .theme--background-color-after:after, *[data-publication-theme='5aec32e034a6070ae06bab9a'].theme--background-color-after:after {
    background-color: #8BACDF !important;
}
*[data-theme='5aec32e034a6070ae06bab9a'] .project-list-image__title:before, *[data-theme-theme='5aec32e034a6070ae06bab9a'].project-list-image__title:before {
    background-color: #8BACDF !important;
}
*[data-theme='5aec32e034a6070ae06bab9a'].page--project {
    background-color: #8BACDF;
}
*[data-theme='59a97c66a61f445eeccbc8c2'] .theme--background-color-after:after, *[data-theme='59a97c66a61f445eeccbc8c2'].theme--background-color-after:after {
    background-color: #ffcf00;
}
*[data-masonary-theme='59a97c66a61f445eeccbc8c2'] .masonry__item-text-outer, *[data-masonary-theme='59a97c66a61f445eeccbc8c2'].masonry__item-text-outer {
    background-color: #ffcf00;
}
*[data-press-theme='59a97c66a61f445eeccbc8c2'] .theme--background-color-after:after, *[data-press-theme='59a97c66a61f445eeccbc8c2'].theme--background-color-after:after {
    background-color: #ffcf00 !important;
}
*[data-publication-theme='59a97c66a61f445eeccbc8c2'] .theme--background-color-after:after, *[data-publication-theme='59a97c66a61f445eeccbc8c2'].theme--background-color-after:after {
    background-color: #ffcf00 !important;
}
*[data-theme='59a97c66a61f445eeccbc8c2'] .project-list-image__title:before, *[data-theme-theme='59a97c66a61f445eeccbc8c2'].project-list-image__title:before {
    background-color: #ffcf00 !important;
}
*[data-theme='59a97c66a61f445eeccbc8c2'].page--project {
    background-color: #ffcf00;
}
*[data-theme='59e85ae225e66994204ccdbc'] .theme--background-color-after:after, *[data-theme='59e85ae225e66994204ccdbc'].theme--background-color-after:after {
    background-color: #fddc65;
}
*[data-masonary-theme='59e85ae225e66994204ccdbc'] .masonry__item-text-outer, *[data-masonary-theme='59e85ae225e66994204ccdbc'].masonry__item-text-outer {
    background-color: #fddc65;
}
*[data-press-theme='59e85ae225e66994204ccdbc'] .theme--background-color-after:after, *[data-press-theme='59e85ae225e66994204ccdbc'].theme--background-color-after:after {
    background-color: #fddc65 !important;
}
*[data-publication-theme='59e85ae225e66994204ccdbc'] .theme--background-color-after:after, *[data-publication-theme='59e85ae225e66994204ccdbc'].theme--background-color-after:after {
    background-color: #fddc65 !important;
}
*[data-theme='59e85ae225e66994204ccdbc'] .project-list-image__title:before, *[data-theme-theme='59e85ae225e66994204ccdbc'].project-list-image__title:before {
    background-color: #fddc65 !important;
}
*[data-theme='59e85ae225e66994204ccdbc'].page--project {
    background-color: #fddc65;
}
*[data-theme='59b1094846017f41ec214eb7'] .theme--background-color-after:after, *[data-theme='59b1094846017f41ec214eb7'].theme--background-color-after:after {
    background-color: #008872;
}
*[data-masonary-theme='59b1094846017f41ec214eb7'] .masonry__item-text-outer, *[data-masonary-theme='59b1094846017f41ec214eb7'].masonry__item-text-outer {
    background-color: #008872;
}
*[data-press-theme='59b1094846017f41ec214eb7'] .theme--background-color-after:after, *[data-press-theme='59b1094846017f41ec214eb7'].theme--background-color-after:after {
    background-color: #008872 !important;
}
*[data-publication-theme='59b1094846017f41ec214eb7'] .theme--background-color-after:after, *[data-publication-theme='59b1094846017f41ec214eb7'].theme--background-color-after:after {
    background-color: #008872 !important;
}
*[data-theme='59b1094846017f41ec214eb7'] .project-list-image__title:before, *[data-theme-theme='59b1094846017f41ec214eb7'].project-list-image__title:before {
    background-color: #008872 !important;
}
*[data-theme='59b1094846017f41ec214eb7'].page--project {
    background-color: #008872;
}
*[data-theme='59a97c6ea61f445eeccbc8c4'] .theme--background-color-after:after, *[data-theme='59a97c6ea61f445eeccbc8c4'].theme--background-color-after:after {
    background-color: #fc4b29;
}
*[data-masonary-theme='59a97c6ea61f445eeccbc8c4'] .masonry__item-text-outer, *[data-masonary-theme='59a97c6ea61f445eeccbc8c4'].masonry__item-text-outer {
    background-color: #fc4b29;
}
*[data-press-theme='59a97c6ea61f445eeccbc8c4'] .theme--background-color-after:after, *[data-press-theme='59a97c6ea61f445eeccbc8c4'].theme--background-color-after:after {
    background-color: #fc4b29 !important;
}
*[data-publication-theme='59a97c6ea61f445eeccbc8c4'] .theme--background-color-after:after, *[data-publication-theme='59a97c6ea61f445eeccbc8c4'].theme--background-color-after:after {
    background-color: #fc4b29 !important;
}
*[data-theme='59a97c6ea61f445eeccbc8c4'] .project-list-image__title:before, *[data-theme-theme='59a97c6ea61f445eeccbc8c4'].project-list-image__title:before {
    background-color: #fc4b29 !important;
}
*[data-theme='59a97c6ea61f445eeccbc8c4'].page--project {
    background-color: #fc4b29;
}
*[data-theme='5a05ca9568c47f4dac4ec233'] .theme--background-color-after:after, *[data-theme='5a05ca9568c47f4dac4ec233'].theme--background-color-after:after {
    background-color: #C5A57A;
}
*[data-masonary-theme='5a05ca9568c47f4dac4ec233'] .masonry__item-text-outer, *[data-masonary-theme='5a05ca9568c47f4dac4ec233'].masonry__item-text-outer {
    background-color: #C5A57A;
}
*[data-press-theme='5a05ca9568c47f4dac4ec233'] .theme--background-color-after:after, *[data-press-theme='5a05ca9568c47f4dac4ec233'].theme--background-color-after:after {
    background-color: #C5A57A !important;
}
*[data-publication-theme='5a05ca9568c47f4dac4ec233'] .theme--background-color-after:after, *[data-publication-theme='5a05ca9568c47f4dac4ec233'].theme--background-color-after:after {
    background-color: #C5A57A !important;
}
*[data-theme='5a05ca9568c47f4dac4ec233'] .project-list-image__title:before, *[data-theme-theme='5a05ca9568c47f4dac4ec233'].project-list-image__title:before {
    background-color: #C5A57A !important;
}
*[data-theme='5a05ca9568c47f4dac4ec233'].page--project {
    background-color: #C5A57A;
}
*[data-theme='59a97ca3a61f445eeccbc8c9'] .theme--background-color-after:after, *[data-theme='59a97ca3a61f445eeccbc8c9'].theme--background-color-after:after {
    background-color: #dadada;
}
*[data-masonary-theme='59a97ca3a61f445eeccbc8c9'] .masonry__item-text-outer, *[data-masonary-theme='59a97ca3a61f445eeccbc8c9'].masonry__item-text-outer {
    background-color: #dadada;
}
*[data-press-theme='59a97ca3a61f445eeccbc8c9'] .theme--background-color-after:after, *[data-press-theme='59a97ca3a61f445eeccbc8c9'].theme--background-color-after:after {
    background-color: #dadada !important;
}
*[data-publication-theme='59a97ca3a61f445eeccbc8c9'] .theme--background-color-after:after, *[data-publication-theme='59a97ca3a61f445eeccbc8c9'].theme--background-color-after:after {
    background-color: #dadada !important;
}
*[data-theme='59a97ca3a61f445eeccbc8c9'] .project-list-image__title:before, *[data-theme-theme='59a97ca3a61f445eeccbc8c9'].project-list-image__title:before {
    background-color: #dadada !important;
}
*[data-theme='59a97ca3a61f445eeccbc8c9'].page--project {
    background-color: #dadada;
}